@import "node_modules/normalize.css/normalize";
@import "node_modules/fork-awesome/css/fork-awesome.min.css";

:root {
  --bg: #282828;
  --bgh: #1d2021;
  --bgl: #32302f;
  --fg: #fbf1c7;
  --link: #689d6a;
  --radius: 0.25rem;
}

.themeLight {
  --bg: #fbf1c7;
  --bgh: #f9f5d7;
  --bgl: #32302f;
  --fg: #282828;
  --link: #b16286;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  color: var(--fg);

  &:hover {
    color: var(--link);
  }
}

body {
  background-color: var(--bgh);
  color: var(--fg);
  font-family: sans-serif;
}

.header {
  text-align: center;
  font-size: 1.5rem;

  &__emoji {
    font-size: 5rem;
  }

  &__count {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 700;
  }
}

.main {
  padding: 0 1rem 4rem;

  @media screen and (min-width: 640px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.card {
  background-color: var(--bg);
  width: 100%;
  display: block;
  border: solid 1px var(--bgl);
  padding: 1rem;
  border-radius: var(--radius);
  margin: 1rem 0;
  align-self: flex-start;

  @media screen and (min-width: 640px) {
    margin: 1rem;
    flex: 1;
    width: auto;
    min-width: 480px;
  }

  &__name {
    font-size: 1rem;
    font-weight: 700;
  }

  &__date {
    font-size: 0.75rem;
    margin: 10px 0 20px;
    line-height: 0.25;
  }

  &__txt {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    line-height: 1.25;
  }
}

.btnAdd {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: block;
  padding: 1rem;
  color: var(--bg);
  text-decoration: none;
  border-radius: 99rem;
  background-color: var(--link);
  font-size: 1rem;
  border: 0;
}

.btnTheme {
  margin: 2rem auto;
  display: block;
  border: 0;
  background-color: transparent;
  color: var(--fg);
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.modalForm {
  background: rgba(black, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;

  &--open {
    display: block;
  }

  &__form {
    width: calc(100% - 2rem);
    background: var(--bg);
    margin: 2rem auto;
    padding: 1rem;
    border-radius: var(--radius);
    border: solid 1px var(--bgl);
    max-width: 480px;
  }

  &__label {
    display: block;
    font-weight: 700;
    margin-top: 1rem;
    font-size: 1rem;

    small {
      font-weight: 300;
      font-size: 0.75rem;
    }
  }

  &__input {
    background-color: var(--bgh);
    border: solid 1px var(--bgl);
    border-radius: var(--radius);
    color: var(--fg);
    width: 100%;
    margin: 1rem 0;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    font-size: 1rem;
    padding: 1rem;
    border-radius: var(--radius);
    border: solid 1px var(--bgh);
    background-color: var(--bgl);
    color: var(--fg);
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &--submit {
      background-color: var(--link);
      color: var(--bgh);
    }
  }
}

.info {
  font-size: 1rem;
  padding: 1rem;
  text-align: left;
}

.no-js {
  .btnAdd,
  .btnTheme {
    display: none;
  }

  .modalForm {
    display: block;
    position: static;
    background: transparent;
  }
}
